* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #bbd5ed;
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

main {
  margin-top: 90px;
  
}

.miFormulario {
  form {
    margin: 0 auto;
    gap: 30px;

    width: 40%;
    height: 60%;
  }

  input {
    width: 300px;
    height: 38px;
    border: none;
    border-radius: 10px;
    margin: 15px;
  }

  button {
    width: 100px;
    height: 50px;
    border: none;
    border-radius: 10px;
    background-color: #3587a4;
    color: white;
    font-size: 20px;
    margin-top: 20px;

    &:hover {
      background-color: white;
      color: #db7d32;
    }
  }
}

.resultado {
  display: flex;
  flex-direction: row;
  color: #b336c4d8;
  margin: 45px;
  gap: 15px;
  font-weight: 900;
  align-items: center;

  li {
    width: 300px;
    height: 38px;
    border: none;
    border-radius: 10px;
    margin: 15px;
  }

  button {
    width: 100px;
    height: 30px;
    border-radius: 10px;
    background-color: #3587a4;
    color: white;
    font-size: 20px;
   

  }
}
